@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

img {
    object-position: center;
    height: auto;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    padding: 7px;
    border-radius: 15px;
}

.cards {
    min-height: 370px;
    max-height: 400px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 15px;
}

.cards h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cards:hover {
    scale: 102%;
}

nav {
    position: fixed;
    z-index: 9999;
    width: 100vw;
}

.notFound,
.loader {
    height: 80vh;
}

.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #766DF4 94%, #0000) top/16px 16px no-repeat,
        conic-gradient(#0000 30%, #766DF4);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    100% {
        transform: rotate(1turn)
    }
}

.swiper {
    height: 400px;
}

@media screen and (min-width: 450px) {

    .image-banner,
    .rating {
        width: 25vw;
    }

    .details {
        width: 50vw;
    }
}

td {
    padding-bottom: 10px;
}
th {
    text-transform: uppercase;
}